/* Author: Lily Wu
   Date: June 8, 2017 */

body {
  background-color: #008080;
}

#title {
  font-size: 80px;
  font-family: Garamond, sans-serif;
  text-align: center;
}

button {
  margin: 20px auto auto auto;
  display: block;
}

h1 span {
  font-style: italic;
}

.players div {
  width: 50%;
  text-align: center;
  height: 400px;
}

#player1 {
  float: left;
}

#player2 {
  float: right;
}

.cards {
  width: 200px;
  margin: 50px auto auto auto;
}

#status {
  text-align: center;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

